@font-face {
    font-family: a;
    src: url(./flama-light-6fdf4bbd32d4f9f97bffe263392ed25c.ttf);
}
@font-face {
    font-family: b;
    src: url(./flama-medium-5bb6249a763fa26fdd0c2eb6111dc5ac.ttf);
}
@font-face {
    font-family: c;
    src: url(./flama-regular-aaadfbc789d51e1a164e0a6bb8d7ede8.ttf);
}
@font-face {
    font-family:d ;
    src: url(./flama-semibold-3dc888864bbdc994df8a9470dd30078c.ttf);
}
@font-face {
    font-family: e;
    src: url(./flama-bold-c2081640a912d40c189ed43fa8c744c6.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#cursor{
    transform: translate(-50%,-50%);
    transition: all linear 0.1s;
    width: 1.6vw;
    height: 1.6vw;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
    pointer-events: none;
    /* mix-blend-mode: difference; */
    background-color: rgba(255, 255, 255, 0.446);
}
#loader{
    width: 100%;
    height: 100%;
    background-color: rgb(194 154 148);
    position: fixed;
    z-index: 13;
    /* display: none; */
 
}
#circle{

    width: 21vw;
    height: 21vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 0.2vw solid #fff; */

}

#loader>svg circle{
    fill: transparent;
    transform: rotate(-90deg);
    transform-origin:center center ;
    stroke-width: 0.01vw;
    stroke: white;
    transition: stroke-dashoffset ease-out 0.5s;
}

#loader h2{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    opacity: 0;
    font-size: 2vw;
    color: white;
    font-family: a;
    font-weight: 100;
    margin-top: -54%;
    /* transform: translate(-50%,-50%); */
    margin-left: 43.2%;


}
#circle svg{
    height: 6vw;
}
#main{
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: rgb(194 154 148);
}
#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(194 154 148);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 3.5vw;
    
}
#nav i{
    font-size: 1.4vw;
    color: white;
}
#nav #logo{
    display: flex;
    align-items: center;
    gap: 1vw;
}
#logo svg{
    height: 2.5vw;
}
#nav h2{
    font-size: 1.7vw;
    color: white;
    font-family: c;
}
#centernav{
    display: flex;
    align-items: center;
    gap: 3vw;
    transform: translate(-4%,0%);
}
#centernav a{
    text-decoration: none;
    color: rgb(237, 228, 228);
    font-size: 1.3vw;
    font-family: a;
    font-weight: 100;
}
.sphere {
    position: absolute;
    left: 74%;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin: 10px 10px 0px 175px;
    background: 
      radial-gradient(
        rgb(195 172 168),
        rgb(94 83 82)
      );
    background-size: 200% 200%;
    animation: updown 3s linear 0s infinite;
    z-index: 10;
  }

  @keyframes turn {
    0%, 100% {
      background-position: 20% 70%;
    }
    50% {
      background-position: 80% 70%;
    }
}
  
  #sphere2{
    background-size: 200% 200%;
    width: 18vw;
    height: 18vw;
    position: absolute;
    z-index: 10;
    margin: 10px 10px 0px 175px;
    background: 
      radial-gradient(
        rgb(247 175 128),
        rgb(118 79 53)
      );
      left: 10%;
        top: 80%;
        animation: updown 3s linear 0s infinite;
  }
  @keyframes turn2 {
    0%, 100% {
      background-position: 20% 70%;
    }
    50% {
      background-position: 80% 70%;
    }
}
  #sphere3{
    position: absolute;
    z-index: 9;
    top: 63%;
    left: 65%;
    width: 10vw;
    height: 10vw;
    background: 
      radial-gradient(
        rgb(188 145 141),
        rgb(71 52 50)
      );
      animation: updown 3s linear 0s infinite;
  }
#hero1{
    margin-top: 14vw;
    margin-left: 17vw;
}
#hero1 h1{
    font-size: 4.2vw;
    font-family: d;
    color: white;
    line-height: 1;
    margin-bottom: 2vw;
}
#hero1 p{
    font-size: 1.3vw;
    font-family: a;
    color: rgb(247, 241, 241);
    line-height: 1;
    margin-bottom: 3vw;
}
#hero1 a{
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    font-family: d;
    font-weight: 100;

}
#page1 canvas{
    height: 60vh;
    width: 60vw;
    position: absolute;
    z-index: 10;
    top: 23%;
    left: 40%;
}
#page2{
    width: 100%;
    height:95vh;
    position: relative;
    background-color: rgb(194 154 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 30vw; */
}
#hero2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;
}
.clip{
    /* background-color: red; */
    position: relative;
    overflow: hidden;

}
.small{
    height: 3vw;
}
.h1first{
    height: 5vw;
}
.h1sec{
    height: 5vw;
}
.a{
    height: 4vw;
}
#hero2 h3{
    /* margin-top: 4vw; */
    font-size: 1.2vw;
    color: rgb(203, 202, 202);
    font-family: d;
    margin-bottom: 1vw;
}
#hero2 h1{
    /* margin-top: 4vw; */
    font-family: e;
    font-size: 3.5vw;
    color: white;
}
#hero2 h1:nth-child(3){
    margin-bottom: 3vw;
}
#hero2 a{
    margin-top: 2vw;
    text-decoration: none;
    font-family: c;
    font-size: 1.3vw;
    color: white;
    display: inline-block;
}
#logodiv{
    margin-top: 20vw;
    display: flex;
    gap: 3vw;
}
#logodiv img{
    height: 2.5vw;
    filter: invert();
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgb(194 154 148);

}
#page3 canvas{
    position: absolute;

    max-width: 100vw;
    max-height: 100vh;

}
#page4{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(194 154 148);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hero4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}
#hero4 .elem{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.f{
height: 4vw;
}
.s{
height: 4.6vw;
}
.r{
height: 5vw;
}
.t{
    height: 3vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    /* background-color: red; */
}
.f h3{
    font-family: b;
    color: rgb(235, 230, 230);
}
.s h1{
    font-family: e;
    font-size: 3.7vw;
    color: white;
}
.r h1{
    font-family: e;
    font-size: 3.7vw;
    color: white;
}
.t a{
    /* margin-top: 3vw; */
    display: inline-block;
    font-family: b;
    font-size: 1.3vw;
    text-decoration: none;
    color: white;
}
.spherep4{
    position: absolute;
    left: 5%;
    top: 30%;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    margin: 10px 10px 0px 175px;
    background: 
      radial-gradient(
          rgb(178 137 133),
          rgb(100 75 73)
      );
    background-size: 200% 200%;
    animation: updown 3s linear 0s infinite;
    z-index: 10;
  }
  #spherep42{
    position: absolute;
    left: 6%;
    top: 85%;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin: 10px 10px 0px 175px;
    background: 
      radial-gradient(
        rgb(235 166 120),
        rgb(120 81 54)
      );
    background-size: 200% 200%;
    animation: updown 3s linear 0s infinite;
    z-index: 10;
  }
  #spherep43{
    position: absolute;
    left: 65%;
    top: 80%;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    margin: 10px 10px 0px 175px;
    background: 
      radial-gradient(
        rgb(231 205 201),
        rgb(79 69 68)
      );
    background-size: 200% 200%;
    animation: updown 3s linear 0s infinite;
    z-index: 10;
  }
#page4 #circ{
    position: relative;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-22%);
    height: 32vw;
    /* background-color: red; */
    z-index: 10;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
#innercirc{
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background-color: rgb(216 191 187);
}
#circ{
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background-color: rgb(206 175 170);
}
#bottombar{
    width: 50vw;
    background-color: rgba(253, 252, 252, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    color: white;
    margin-top: 5vw;
    padding: 1vw 0.5vw;
    border-radius: 0.5vw;
    position: relative;
    z-index: 12;


}
#bottombar h3{
    font-size: 1.2vw;
    font-family: a;
}
#bottombar h2{
    font-size: 1.4vw;
    font-family: d;

}
#bottombar #indicator{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}
#bottombar #indicator h2{
    font-size: 1.4vw;
    font-family: d;
}
#bottombar #indicator #dot{
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    background-color: green;
}
#midline{
    width: 0.2vw;
    height: 1.8vw;
    background-color: white;
}
#page5{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(194 154 148);
    padding-top: 10vw;
}
#page5 h3{
    text-align: center;
    font-family: b;
    font-size: 1.3vw;
    color: rgb(225 205 202);
    line-height: 1;
    /* margin-top: 18vw; */
}
#page5 h1{
    line-height: 1;
    text-align: center;
    font-size: 4vw;
    color: white;
    font-family: d;
    /* margin-top: 18vw; */

}
.y{
    height: 4vh;
    /* background-color: rgb(141, 103, 103); */
    overflow: hidden;
}
.z{
    height: 9vh;
    /* background-color: red; */
    overflow: hidden;
}
#page6{
    position: relative;
    width: 100vw;
    height: 100vh;
    
}
#page6>canvas{
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}
#page6 img{
    margin-top: -30vw;
    position: absolute;
    height: 120vw;

}
#page7{
    position: relative;
    height: 160vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: white;
}
#left{
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#imagediv{
    width: 30vw;
    height: 40vw;
    background-color: rgb(119, 162, 32);
    transform: translate(-20%,-10%);
    overflow: hidden;
}
#imageslide{
    background-color: rebeccapurple;
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;

}
#imagediv img{
    width: 100%;
    height: 40vw;
    object-fit: cover;
}
#left h2{
    color: rgb(209 209 209);
    font-family: d;
    font-size: 1.5vw;
    line-height: 1;
    margin-left: -21.5vw;
}
#left>h1{
    font-family: e;
    font-size: 3.2vw;
    line-height: 1;
}
#left #links{
    margin-top: 3vw;
    margin-left: 8vw;
    /* background-color: red; */
    width: 60%;

}
/* #left #links .el{
    /* background-color: red; */
/* } */ 
#left #links h1{
    font-family: a;
    font-weight: 100;
    font-size: 1.7vw;
    color: rgb(153 153 153);
    margin-bottom: 2.2vw;
    margin-top: 1.5vw;


}
#left #links h1 span{
    padding-right: 1.5vw;
    font-size: 1.2vw;

    /* margin-left: -9vw; */
}
#links .line{
    width: 100%;
    height: 0.1vw;
    background-color: rgb(206, 200, 200);
    position: relative;

}
#links .line .outerline{
    width: 0%;
    height: 100%;
    background-color: rgb(1, 1, 1);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}
#footer{
    border-top: 0.1vw solid rgb(198, 197, 197);
    width: 100vw;
    position: relative;
    height: 70vh;
    background-color: white;

}
#container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 6vw 10vw;
}
#container img{
    height: 3vw;
}
.columns{
    display: flex;
    flex-direction: column;
}
.columns h3{
    margin-bottom: 2vw;
    font-family: d;
    font-size: 1.05vw;
}
.columns a{
    margin-bottom: 1vw;
    text-decoration: none;
    color: rgba(1, 1, 1, 0.544);
    font-family: a;
    font-weight: 100;
}
.icons{
    display: flex;
    gap: 1vw;
}
.icons i{
    font-size: 1.4vw;
}
.form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 11vw;
    gap: 2vw;
}
.form input{
    width: 18vw;
    padding: 1vw 0;
    padding-left: 0.8vw;
    font-size: 1.2vw;
    outline: none;
    font-family: a;
    border: 0.1vw solid rgb(175, 174, 174);
    border-radius: 0.3vw;
}
.form button{
    font-size: 1.2vw;
    font-family: d;
    color: white;
    background-color: black;
    border-radius: 0.3vw;
    padding: 1vw 3vw;
    border: none;
}
#endfooter{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1vw 13vw;
    margin-top: 5vw;
}
#endfooter small{
    font-family: a;
    font-size: 1vw;
    color: rgb(135, 134, 134);
}
@keyframes updown {
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(2vw);
    }
    100%{
        transform:translateY(0);
    }
}